<ion-view view-title="Plano Operácional">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Principais Produtos
      </div>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Principais Produtos">
      </label>
      <div class="item item-divider">
        Ciclo de Produção
      </div>
      <label class="item item-input">
        <span class="input-label">Data Inicial</span>
        <input type="date">
      </label>
      <label class="item item-input">
        <span class="input-label">Data Final</span>
        <input type="date">
      </label>
      <div class="item item-divider">
        Preço
      </div>
      <label class="item item-input">
        <span class="input-label">Valor (R$)</span>
        <input type="number" min="0.00" placeholder="0.00">
      </label>
      <div class="item item-divider">
        Estratégias Promocionais
      </div>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Estratégias Promocionais">
      </label>
      <div class="item item-divider">
        Estrutura de Comercialização
      </div>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Estrutura de Comercialização">
      </label>
      <div class="item item-divider">
        Localização do Negócio
      </div>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Endereço">
      </label>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Bairro">
      </label>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Cidade">
      </label>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Estado">
      </label>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Telefone">
      </label>
      <div class="item item-divider">
        Considerações sobre a escolha da Localização do Negócio
      </div>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Considerações">
      </label>
    </div>
  </ion-content>
</ion-view>
